.nav {
   grid-area: n;
   background-color: rgb(32, 40, 51);
   margin: 0;
   padding: 0;
   height: 93vh;
}

.nav ul {

   list-style-type: none;
   margin: 0 auto;
}

.nav ul li {
   margin-top: 15px;
   margin-left: -20px;
}

.nav ul li a {
   text-decoration: none;
   color: rgb(196, 198, 200);
}

.activeLink {
   color: blue;
}