.dialogs {
   min-height: 400px;
   display: grid;
   grid-template-columns: 2fr 10fr;
   margin-top: 20px;
   width: 100%;
   border: solid 1px rgb(58, 71, 90);
   border-radius: 10px;
   box-shadow: 1px 1px 2px rgb(58, 71, 90);
}

.dialogsItems {
   font-weight: 500;
}

.dialogsItems.selected {
   font-weight: 700;
}

.dialog a {
   text-decoration: none;
   color: inherit;
}

.dialog {
   margin: 20px;
   margin-left: 50px;

}

.messages {}

.message {

   margin: 20px;
   margin-left: 50px;
}

.message:first-child {
   margin: 50px 20px 20px 50px;
}

.dialog:first-child {
   margin: 50px 20px 20px 50px;
}

.textInput {
   display: inline-block;
   margin: 100px auto 0 auto;
   width: 600px;
   height: 100px;
}

.sendMessageBtn {}

.sendMessageBtn {
   appearance: none;
   background-color: #ffffff;
   border: 2px solid #bbbfc3;
   border-radius: 15px;
   box-sizing: border-box;
   color: #bbbfc3;
   cursor: pointer;
   display: inline-block;
   font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 16px;
   font-weight: 600;
   line-height: normal;
   margin-top: 5px;
   outline: none;
   float: right;
   clear: right;
   padding: 5px 15px;
   text-align: right;
   text-decoration: none;
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   will-change: transform;
}


.sendMessageBtn:hover {
   box-shadow: rgba(0, 0, 0, 0.25) 0 5px 10px;
   transform: translateY(-1px);
}

.sendMessageBtn:active {
   box-shadow: none;
   transform: translateY(0);
}

.sendMessageForm {
   display: block;
   margin: 0 auto;
   width: 600px;

}


.textInput {
   font-family: inherit;
   font-size: 16px;
   padding: 7px 4px;
   background: transparent;
   transition: border-color 0.2s;
   box-sizing: border-box;
   width: 100%;
   border: 1px solid rgb(32, 40, 51);
   background: #eeeeee;
   resize: none;
   outline: none;
}

input[type="email"] {
   height: calc(3em + 2px);
}

.textInput::placeholder {
   color: rgb(32, 40, 51);

}

.textInput:placeholder-shown~.form-label {
   font-size: 16px;
   cursor: text;
   top: 20px;
}

label,
.textInput:focus~.form-label {
   position: absolute;
   top: 5px;
   left: 8px;
   display: block;
   transition: 0.2s;
   font-size: 12px;
   color: #9b9b9b;
   background-image: linear-gradient(to bottom, #eeeeee, #eeeeee);
   background-size: 105% 5px;
   background-repeat: no-repeat;
   background-position: center;
}

.textInput:focus~.form-label {
   color: rgb(32, 40, 51);
}

.textInput:focus {
   padding-bottom: 6px;
   border: 1px solid rgb(32, 40, 51);
}

.textInput {
   margin-top: 200px;
   display: block;
   width: 600px;
   resize: none;
   overflow: hidden;
   height: 100px;
   padding: 6px 12px;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #bbbfc3;
   border-radius: 4px;
   margin-bottom: 20px;
}

.textInput::placeholder {

   color: #ced4da;

}